.blue-Btn {
background-color: blue;
width: 250px;
text-align: left;
}

#start {
    display: flex;
    align-items: center;
    justify-content: center;
}

#answerBtn {
margin-top: -350px;
}

#quizTimeLeft  {
    font-weight: bold;
    float: right;
    margin-right: 50px;

}

#questionOne {
    margin-top: -250px;
    margin-bottom: 10px;
}

#alert {

    margin-top: 10px;
    text-align: left;
    margin-left: 350px;
    margin-right: 300px;
}

#alert2 {

    margin-top: -66px;
    text-align: left;
    margin-left: 350px;
    margin-right: 300px;
}

#initials {
    position: relative;
    left: 40%;
    top: 15%;
}

#reset {
    position: relative;
    left: 445px;
    top: 320px;
}

#homeScreen {
    position: relative;
    left: 385px;
    top: 349px;
}

.center-page {
position: absolute;
margin-left: 350px;
margin-top: 200px;

}

.whole-page {
    width: 100%;
}

.center-text {
    text-align: center;
    margin-left: 20px;
}

.firstScreen {
    margin-top: 200px;
}

.choices {
    margin-top: 10px;
}
